@import 'bootstrap';

body {
    font-family: 'Roboto', sans-serif;
}

.img-center {
    display:block;
    position: relative;
    margin: auto;
}

h1 {
    text-align: center;
    color: blue;
    font-family: 'Press Start 2P', cursive;
    margin: 20px;
}